<div id="panelhead">
  <h2>New Vendor</h2>
  <br>
  <p>Please enter a name for the new vendor</p>
</div>
<div id="panelmain">
<div id="plaintable">
<form action="/vendors" method="post">
  <table>
    <tr>
      <td><label for="name">Vendor Name: </label></td>
      <td><input type="text" id = "name" name="name" value=""></td>
    </tr>
  </table>
  <p><input type='submit' value="Submit"></p>
</form>
</div>
</div>
