<div id="plaintable">
<h2>New Tag</h2>
<form action="/tags" method="post">
  <table>
    <tr>
      <td><label for="name">Tag Name: </label></td>
      <td><input type="text" id = "name" name="name" value=""></td>
    </tr>
  </table>
  <p><input type='submit' value="Submit"></p>
</form>
</div>
