<div id="panelhead">
  <h2>New Tag</h2>
  <br>
  <p>Please enter a name for the new tag</p>
  <br>
  <p>The new tag will be available on the navigation bar immediatley after submitting</p>
</div>
<div id="panelmain">
<div id="plaintable">
<form action="/tags" method="post">
  <table>
    <tr>
      <td><label for="name">Tag Name: </label></td>
      <td><input type="text" id = "name" name="name" value="" required></td>
    </tr>
  </table>
  <p><input type='submit' value="Submit"></p>
</form>
</div>
</div>
