a, a:visited, a:hover {
  font-family: arial;
  text-decoration: none;
}

input[type="submit"], nav a, nav a:visited, #navbottom a, #navbottom a:visited, #button a:visited{
    color: #0B3C5D;
}

input:hover[type="submit"], nav a:hover, #navbottom a:hover {
  border: 1px solid #0B3C5D;
  color: #0B3C5D;
}

nav a:hover, #navbottom a:hover {
  background: white;
}

input:hover[type="submit"], #button a:hover{
  background: #328CC1;
}

input[type="submit"], nav a, #navbottom a, #button a {
  padding: 5px;
  border: 1px solid #0B3C5D;
  border-radius: 6px;
  font-size: 18px;
}

nav a, #navbottom a {
  background: #328CC1;
}

input[type="submit"], #button a{
  background: white;
}
