table {
  border: 1px solid black;
  font-family: arial;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border: 1px solid black;
  width: 150px;
  background-color: #328CC1;
}

tr {
  padding: 20px;
  border: 1px solid black;
}

td{
  padding: 10px;
  border: 1px solid black;
  width: 150px;
}

#plaintable table {
  border: 0;
}

#plaintable th {
  border: 0;
}

#plaintable tr {
  border: 0;
}

#plaintable td {
  border: 0;
}
