<h2>All Transactions</h2>
<% @transactions.each do |transaction| %>

<p>Amount: <%= transaction.amount %></p>
<p>Tag: <%= transaction.tag_id %></p>
<p>Vendor: <%= transaction.vendor_id %></p>

<% end %>
