<h2>All Transactions</h2>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tag</th>
      <th>Vendor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <% amount = Transaction.amount_pence_to_pounds(transaction.amount) %>
    <% tag = transaction.tag() %>
    <% vendor = transaction.vendor() %>
    <tr>
      <td><%= amount %></td>
      <td><%= tag.name %></td>
      <td><%= vendor.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>Total: <%= Transaction.amount_pence_to_pounds(@transactions_total) %></p>
