<h2>All Transactions</h2>
<% @transactions.each do |transaction| %>
<% tag = transaction.tag() %>
<% vendor = transaction.vendor() %>

<p>Amount: <%= transaction.amount %></p>
<p>Tag: <%= tag.name %></p>
<p>Vendor: <%= vendor.name %></p>

<% end %>
