<% amount = Transaction.amount_pence_to_pounds(@transaction.amount) %>
<% tag = @transaction.tag() %>
<% vendor = @transaction.vendor() %>

<table>
  <tbody>
    <tr>
      <td>Amount</td>
      <td>£<%= amount %></td>
    </tr>
    <tr>
      <td>Tag</td>
      <td><%= tag.name %></td>
    </tr>
    <tr>
      <td>Vendor</td>
      <td><%= vendor.name %></td>
    </tr>
  </tbody>
</table>

<form action="/transactions/<%= @transaction.id %>/delete" method="POST">
  <input type="submit" value="delete" />
</form>
